<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Task.im</title>


    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link href="~/css/master.css" rel="stylesheet"/>


</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent" color-on-scroll="200" id="sectionsNav" >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">TASK.IM</a>
        </div>
        <div class="collapse navbar-collapse">


            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a asp-controller="Tasks" asp-action="Index">
                        <i class="material-icons">list</i> TASKS
                    </a>
                </li>

                @await Html.PartialAsync("_LoginPartial")

                <li class="button-container">
                    <a asp-controller="Tasks" asp-action="Create" class="btn btn-rose btn-round">
                        <i class="material-icons">lightbulb_outline</i> Create a task
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>


<div class="body-content">

    <div> @RenderBody()</div>
    <footer class="footer footer-black footer-big" style="margin-top: 50px">
        <div class="container">

            <div class="content">
                <div class="row">
                    <div class="col-md-2">
                        <h5>About Us</h5>
                        <ul class="links-vertical">
                            <li>
                                <a href="#pablo">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    Presentation
                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5>Market</h5>
                        <ul class="links-vertical">
                            <li>
                                <a href="#pablo">
                                    Sales FAQ
                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    How to Register
                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    Sell Goods
                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    Receive Payment
                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    Transactions Issues
                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    Affiliates Program
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5>Social Feed</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>How to handle ethical disagreements with your clients.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>The tangible benefits of designing at 1x pixel density.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-facebook-square"></i>
                                <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h5>Follow Us</h5>
                        <ul class="social-buttons">
                            <li>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>

                        <h5>Numbers Don't Lie</h5>
                        <h4 class="text-muted">14.521 <small>Freelancers</small></h4>
                        <h4>1.423.183 <small>Transactions</small></h4>
                    </div>
                </div>
            </div>

            <hr>

            <div class="copyright pull-center">
                Copyright ©
                <script>document.write(new Date().getFullYear())</script> Aghil k mohan. All Rights Reserved.
            </div>
        </div>
    </footer>
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>

<script src="~/js/master.min.js"></script>


@RenderSection("Scripts", false)
</body>
</html>